html,
body {
  height: 100%;
}

body {
  background: url("https://media.giphy.com/media/Id71NFYfSBOKv2IexE/giphy.gif") !important;
  background-position: center center !important;
  background-repeat: revert !important;
  background-attachment: fixed;
  background-size: cover !important;
  height: 100% !important;
  background-color: transparent !important;
  background-blend-mode: overlay !important;
}

.review-card {
  width: 18rem;
}

.transparent {
  background: rgba(0, 0, 0, 0.4);
}
