
.color-light-blue{
    color: #0099fe;
}

.color-dark-blue{
    color: #003459;
}

.color-dark{
    color: #011422;
}


.red-button {
    background: #e50914;
    color: #fff;
    width: 80px;
    height: 40px;
    font-size: 15px;
    opacity: 0.9;
    border-radius: 2px;
    border: 0;
}

.red-button:hover {
    opacity: 1;
}

.login-page{
    height: 100vh;
}

.login-section{
    position: relative;
}

.image-section{
    width: 100%;
    height: 100%;
}

body{
    background-color: black !important;
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 45px;
    width: 300px;
    height: 525px;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}
